<table border="1" >
  <thead>
    <tr>
      <th></th>
      <th>Stock</th>
      <th>Start</th>
      <th>Data Points</th>
      <th>Grapha</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of stockData ; trackBy:trackById">
      <td><input type="checkbox" (click)="stockChecked($event,data)" ></td>
      <td>{{ data.t }}</td>
      <td>{{ data.ltt }}</td>
      <td>{{ data.l_cur }}</td>
      <td>
        <canvas *ngIf=data.isChecked
          baseChart 
          width="200"
          height="150"
          [datasets]="data.lineItemData"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
        ></canvas>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td colspan="2" ><button type="button" (click)="addMoreStock()">add more stock</button></td>      
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
